@media only screen and (max-width: 1115px) {
	.buttonLine {
		width: 100%;
		margin-top: 10px;
	}
	.meetingSet button {
		padding-left: 5%;
	}
}
@media only screen and (min-width: 1115px) {
	.buttonLine {
		width: 50%;
	}
	.meetingSet button {
		padding-left: 12%;
	}
}
button {
	outline: none;
}
input {
	outline: none;
}
/*弹性布局*/
.box {
	display: flex;
	display: -webkit-flex;
	flex-wrap: nowrap;
}
/*蒙版*/
.mask {
	position: fixed;
	width: 100%;
	height: 100%;
	padding-bottom: 80px;
	overflow: hidden;
	left: 0;
	top: 0;
	z-index: 3;
	background-color: #0b0b0b;
	filter: Alpha(Opacity = 80);
	opacity:0.8;
}

/*弹出框：创建会议*/
.popBox {
	border: 8px solid black;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 4;
}
.createPop {
	width: 80%;
	height: 40%;
}
#msgPopSpan {
	color: #000;
	font-size: 2vw; 
	letter-spacing: 10px; 
	font-weight: bold; 
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px; 
	display: block;
	text-align: center;
}
#meetingName {
	font-size: 1.5vw;
	letter-spacing: 5px;
}

/*navbar*/
.navbar {
	background-color: #fff;
	height: 50px;
	width: auto;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
}

/*liveBox*/
.liveBox {
	flex-direction: row;
	/*justify-content: center;*/
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
	
}
#content {
	width: 70%;
	height: 650px;
	background-color: #fff;
	border-radius: 15px;
	position: relative;
	z-index: 2;
}
.meetingSet {
	font-size: 1.5vw;
	font-weight: bold;
	margin: 20px;
	margin-bottom: 0px;
	flex-direction: row;
    flex-wrap: wrap;
}
.meetingSet button {
	border: none;
	background-color: transparent;
	font-size: 1vw;
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.buttonLine {
		display:block; 
		margin-left:20px; 
		text-align:center; 
}
#checkInButton {
	background-image: url(../img/checkInBtn.svg);
	color: #1296db;
}
#meetButton {
	background-image: url(../img/startBtn.svg);
	color: #e0620d;
}
.timeLine {
	width: 100%;
	display: block;
	text-align: center;
	font-weight: 400;
	font-size: 1.2vw;
	margin-top: 10px;
}
.timeLine img {
	width: 16px;
	margin-right: 5px;
    margin-bottom: 5px;
}
.demo {
	width: 100%;
	height: auto;
}

/*弹幕记录框*/
.danmakuImg {
	/*top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;*/
    display: block;
}
#mailImg {
	width: 100%;
	position: relative;
	transform: translate(-50%,-100%);
	left: 50%;
}
#video {
	width: 100%;
}
#video1 {
	display: block;
	height: 100%;
	width: 95%;
	margin: 0 auto; 
}
#danmakuBox {
	width: 30%;
	height: 650px;
	margin-right: 10px;
	padding: 20px 5px;
	background-color: #fff;
	border-radius: 15px;
	position: relative;
	z-index: 3;
}
#danmakuInnerBox {
	height: 100%;
	overflow-y: auto;
}
.danmakuTime {
	text-align: center;
	margin-bottom: 15px;
    margin-top: 15px;
    color: #ccc;
}
#timeSpan {
	font-size: 1.6vw;
/*	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 15px;
    background-color: #ccc;
    color: #fff;*/
}
.ulDanmaku {
	list-style: none;
	padding-left: 10px;
}
.ulDanmaku p {
	word-break:normal;
	white-space:pre-wrap;
	word-wrap:break-word;
	font-size: 2vw;
	margin-right: 5px;
}
.ulDanmaku img {
	width: 32px;
	height: 32px;
}
